.navbar-brand-padding{
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 6px;
}
.orange {
    color: orange;
}

.bold {
    font-weight: bold;
}

.phone {
    font-size: 30px;
    padding:9px 0px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}