{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
                <div class="row">
                    <div class="col-xs-6">
                        <h2 class="text-center">Protect your loved ones with an affordable life insurance policy</h2>
                        <span>3 reasons to use our free quote service for your term <span class="bold">life</span> policy:</span>
                        <ol class="">
                            <li>We shop to find a great rate from the companies we work with.</li>
                            <li>Helps protect your family’s financial future.</li>
                            <li>Get great rates on term life insurance.</li>
                        </ol>
                    </div>
                </div>
{% endblock %}