{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2 class="text-center">Protect your loved ones with an affordable life insurance policy</h2>
                        <span class="hidden-sm hidden-xs">3 reasons to use our free quote service for your term <span class="bold">life</span> policy:</span>
                        <ol class="hidden-sm hidden-xs">
                            <li>We shop to find a great rate from the companies we work with.</li>
                            <li>Helps protect your family’s financial future.</li>
                            <li>Get great rates on term life insurance.</li>
                        </ol>
                        {%- image '@AppBundle/Resources/public/images/family.png' -%}
                        <img class="img-responsive center-block" src="{{ asset_url }}" title="ULI" alt="ULI">
                        {%- endimage -%}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2 class="text-center"><span class="bold">SAVE up to 70%</span> on Life Insurance</h2>
                    </div>
                </div>
{% endblock %}